* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(189,189,189);
  background: linear-gradient(90deg, rgba(189,189,189,1) 2%, rgba(242,242,242,1) 49%, rgba(189,189,189,1) 97%);
}

main {
  width:80%;
  margin: 0 10%;
  height: 650px;
}

.flex-container {
display: flex;
flex-direction: column;
height: 100%;
} 

#titleBox {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#photoViewerBox {
  height: 70%;
  min-width: 5rem;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#textBox {
  min-height: 25%;
  min-width: 8px;
  opacity: 0.8;
  background-color: black;
}

#imgscreenBox {
  width: 90%;
  background-image: url("imgs/img6.jpg");
  background-size: cover; 
  /* z-index: -1; */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.arrowBox {
  display: flex;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 26%, rgba(226,226,226,1) 97%);
  width: 5%;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
}

#rightArrowBox {
  transform: rotateY(180deg);
  order: 1;
  
}

#thumbnailBox {
  /* background-color:coral; */
  height: 15%;
  min-width: 5rem;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 50px;
  height: 50px;
  /* background-color: white; */
  margin: 10px 3px;
  background-image: url("imgs/img2.jpg");
  background-size: cover;
}