* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(155,155,158);
  background: linear-gradient(90deg, rgba(155,155,158,1) 5%, rgba(244,237,237,1) 50%, rgba(155,155,158,1) 94%);
}

main {
  width:80%;
  margin: 0 10%;
  height: 650px;
}

.flex-container {
display: flex;
flex-direction: column;
height: 100%;
} 

#titleBox {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#photoViewerBox {
  /* background-color:cadetblue; */
  height: 70%;
  min-width: 5rem;
  display: flex;
  flex-direction: row;
}

#textBox {
  height: 20%;
  min-width: 8px;
  opacity: 0.4;
  background-color: black;
  
}

#imgscreenBox {
  width: 90%;
  background-image: url("imgs/img2.jpg");
  background-size: cover; 
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}



.arrowBox {
  display: flex;
  background-color: white;
  width: 5%;
  justify-content: center;
  align-items: center;
}

#rightArrowBox {
  transform: rotateY(180deg);
  order: 1;
  
}

#thumbnailBox {
  /* background-color:coral; */
  height: 15%;
  min-width: 5rem;
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 50px;
  height: 50px;
  /* background-color: white; */
  margin: 10px 3px;
  background-image: url("imgs/img2.jpg");
  background-size: cover;
}